body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    margin-top: 20px;
}

.dashboard-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
    color: #333;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.events-table th, .events-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.events-table th {
    background-color: #6497d6;
    color: white;
}

.events-table td {
    background-color: #f9f9f9;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

input{
    width: 97.3%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

select:focus, input:focus {
    outline: none;
    border-color: #6497d6;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.2);
}

.btn {
    background-color: #6497d6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn:hover {
    background-color: #253766;
}

.btn.secondary {
    background-color: #6c757d;
}

.btn.secondary:hover {
    background-color: #495057;
}


hr {
    margin: 30px 0;
    border: none;
    border-top: 2px solid #ddd;
}

.refund-section {
    margin-bottom: 20px;
    text-align: left;
}

.refund-section label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.bookings-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.bookings-table th, .bookings-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.bookings-table th {
    background-color: #6497d6;
    color: white;
}

.bookings-table td {
    background-color: #f9f9f9;
}

#cancel-booking-form .input-group {
    margin-bottom: 15px;
    text-align: left;
}
#logout {
    margin-top: 20px;
    width: 100%;
    background-color: #dc3545;
}

#logout:hover {
    background-color: #bd2130;
}