<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>servlets.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>servlets.Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomer</servlet-name>
        <servlet-class>servlets.LoginCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>servlets.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Event</servlet-name>
        <servlet-class>servlets.Event</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventsTable</servlet-name>
        <servlet-class>servlets.EventsTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectEvent</servlet-name>
        <servlet-class>servlets.SelectEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ticket</servlet-name>
        <servlet-class>servlets.Ticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cost</servlet-name>
        <servlet-class>servlets.Cost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Refund</servlet-name>
        <servlet-class>servlets.Refund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectTicket</servlet-name>
        <servlet-class>servlets.SelectTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>servlets.Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingsTable</servlet-name>
        <servlet-class>servlets.BookingsTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectBooking</servlet-name>
        <servlet-class>servlets.SelectBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomer</servlet-name>
        <url-pattern>/LoginCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Event</servlet-name>
        <url-pattern>/Event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventsTable</servlet-name>
        <url-pattern>/EventsTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectEvent</servlet-name>
        <url-pattern>/SelectEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ticket</servlet-name>
        <url-pattern>/Ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectTicket</servlet-name>
        <url-pattern>/SelectTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cost</servlet-name>
        <url-pattern>/Cost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Refund</servlet-name>
        <url-pattern>/Refund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingsTable</servlet-name>
        <url-pattern>/BookingsTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectBooking</servlet-name>
        <url-pattern>/SelectBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>